<%- include("templates/inicio.ejs")%>
<h1><%= nombre %></h1>
<input type="text" src="" name="nombre" alt="">
<%- include("templates/navegacion.ejs",{path:path})%>
<%- include("templates/final.ejs")%>
